<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--扫描com.mmall包下类的注解，通过注解将参数值注入-->
    <context:component-scan base-package="com.mmall" annotation-config="true"/>

    <!--<context:annotation-config/>-->
    <!--面向切面编程的配置-->
    <aop:aspectj-autoproxy/>

    <!--分离出去一个spring配置文件，效果和都配置在一个applicationContext文件中一样-->
    <!--目的是加载的模块多了之后，大模块单独分出配置文件方便查看与修改-->
    <!--这个就是mybatis的配置文件-->
    <import resource="applicationContext-datasource.xml"/>


</beans>